.featured-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.featured-movie{
    margin: 1em;
    padding: 1rem;
    border: 1px solid black;
    width: 300px;
}

.featured-movie img{
    max-width: 100%;
}

.link-btn{
    color: red;
}