.footer{
    opacity: 0.8;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 1em;

    a{
        display: block;
        text-decoration: none;
        padding: 1em;
        font-family: 'Ubuntu', sans-serif;
        color: #21D4FD;
    }
}